html, body {
    overscroll-behavior-y: contain;
    height: 100%;
}
ruffle-player {
    width: 100%;
    height: 56vmin;
}

@media (prefers-color-scheme: light) {
    .bg-auto {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    }
    
    .table-auto {
        --bs-table-bg: #f8f9fa;
        --bs-table-striped-bg: #ecedee;
        --bs-table-striped-color: #000;
        --bs-table-active-bg: #dfe0e1;
        --bs-table-active-color: #000;
        --bs-table-hover-bg: #e5e6e7;
        --bs-table-hover-color: #000;
        color: #000;
        border-color: #dfe0e1;
    }

    .text-auto {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    }

    .list-group-item-auto {
        color: #636464;
        background-color: #fefefe;
    }
    .list-group-item-auto.list-group-item-action:hover, .list-group-item-auto.list-group-item-action:focus {
    color: #636464;
    background-color: #e5e5e5;
    }
    .list-group-item-auto.list-group-item-action.active {
    color: #fff;
    background-color: #636464;
    border-color: #636464;
    }
}
@media (prefers-color-scheme: dark) {
    .bg-auto {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    }

    .table-auto {
        --bs-table-bg: #212529;
        --bs-table-striped-bg: #2c3034;
        --bs-table-striped-color: #fff;
        --bs-table-active-bg: #373b3e;
        --bs-table-active-color: #fff;
        --bs-table-hover-bg: #323539;
        --bs-table-hover-color: #fff;
        color: #fff;
        border-color: #373b3e;
    }

    .text-auto {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
    }
    
    .list-group-item-auto {
        color: #141619;
        background-color: #d3d3d4;
    }
    .list-group-item-auto.list-group-item-action:hover, .list-group-item-auto.list-group-item-action:focus {
    color: #141619;
    background-color: #bebebf;
    }
    .list-group-item-auto.list-group-item-action.active {
    color: #fff;
    background-color: #141619;
    border-color: #141619;
    }
}
